{% extends 'announcements/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            "{{ object.title }}" от {{ object.author }}
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ object.description }}
                        </p>
                        <p> Цена товара: {{ object.price }} $ </p>
                    </div>
                    <div class="col-12 mb-5">
                        <a class="btn btn-primary" href="{% url 'announcements:list' %}" role="button">Назад</a>
                    </div>

                    <p>Комментарии</p>
                    <hr>
                    <p>Добавить комментарий</p>

                    {% if massages %}
                        <div class="alert alert-success"
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                </div>


                {% for comment in object.announcement.all %}
                    <li>Автор: {{ comment.author }}</li>
                    Комментарий: {{ comment.text }}<br><br>

                {% endfor %}

                <form action="" id="add_form" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>

                <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>

            </div>
        </div>
    </div>
{% endblock %}