<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'announcements:list' %}" class="nav-link px-2 link-body-emphasis">Главная</a></li>
                <li><a href="{% url 'announcements:create' %}" class="nav-link px-2 link-body-emphasis">Добавить объявление</a>
                <li><a href="{% url 'admin:login' %}" class="nav-link px-2 link-body-emphasis">Войти</a></li>
                <li><a href="{% url 'admin:logout' %}" class="nav-link px-2 link-body-emphasis">Выйти</a></li>
            </ul>
        </div>
    </div>
</header>

